@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom animations */
@keyframes gradient {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 6s ease infinite;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.3s;
}

.delay-500 {
  animation-delay: 0.5s;
}

.delay-1000 {
  animation-delay: 1s;
}


/* Additional spacing utilities */
.pb-112 {
  padding-bottom: 28rem;
  /* 448px */
}

.pt-112 {
  padding-top: 28rem;
  /* 448px */
}

.pb-128 {
  padding-bottom: 32rem;
  /* 512px */
}

.pt-128 {
  padding-top: 32rem;
  /* 512px */
}

.pb-160 {
  padding-bottom: 40rem;
  /* 640px */
}

.pt-160 {
  padding-top: 40rem;
  /* 640px */
}

.pb-192 {
  padding-bottom: 48rem;
  /* 768px */
}

.pt-192 {
  padding-top: 48rem;
  /* 768px */
}

.pb-240 {
  padding-bottom: 60rem;
  /* 960px */
}

.pt-240 {
  padding-top: 60rem;
  /* 960px */
}

.pb-120 {
  padding-bottom: 30rem;
  /* 480px */
}

.pt-120 {
  padding-top: 30rem;
  /* 480px */
}